* {
    color: white;
    z-index: 1;
}

body {
    color: white;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    margin: 0;
}

h2 {
    font-size: 2rem;
    color: white;
}

h3 {
    font-size: 2rem;
    color: rgb(0, 158, 8);
}
