.complaintBtn {
    z-index: 10;
    position: fixed;
    bottom: 2rem;
    right: 5rem;
    background-color: #007299;
    border: 2px solid white;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px 32px;
    text-align: center;
    width: 17rem;
    height: 4rem;
    box-shadow: 0.5rem 0.2rem 01rem black;
    transition: all 0.3s;
}

.complaintBtn:hover {
    background-color: #0693c2;
    scale: 1.1;
}

.complaintForm {
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 2rem;
    background-color: #323232;
    padding: 3rem;
}

.complaintForm input {
    margin-bottom: 1.5rem;
}

.complaintForm label {
    background-color: transparent;
    border-radius: 1rem;
    font-size: 1.7rem;
    font-family: 'Avalon';
}
.complaintForm option{
    color: black;
    font-family: sans-serif;
}
.complaintForm input:focus,
select:focus,
textarea:focus{
    border: 4px solid white;
}
.complaintForm input,
select,
textarea {
    background-color: transparent;
    border-radius: 2rem;
    font-size: 1.7rem;
    font-family: 'Avalon';
    margin-bottom: 2rem;
    padding: 0.3rem;
    padding-left: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.754);
    outline: none;
}
.urgencyButtons{
    display: flex;
    justify-content: space-between;
}

.buttonDiv{
    display: flex;
    justify-content: space-between;
}
.submit{
    background-color: #0166ff;
    color: white;
}