.all-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    margin-left: 4rem;
}
header{
    /* position: sticky; */
    top: 0;
    width: 90%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 1rem; */
}
header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
header img{
    width: 16rem;
}
#Search{
    width: 30rem;
    /* height: 1.2rem; */
    background-color: transparent;
    border-radius: 4rem;
    outline: none;
    border: 1.56px solid white;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}
#Search:focus{
    border: 2.5px solid white;
}

#Account{
    width: 3rem;
    float: right;
}