.post-interactions {
    display: flex;
}
.post-interactions button{
    background-color: transparent;
    border: 0cap;
}
.post-interactions button:focus{
    outline: none;
}
.post-interactions button img{
   width: 2rem;
   height: auto;
   border-radius: 0%;
}
#likeCount, #commentCount{
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
}
#liked-icon{
    display:  none;
}
#unliked-icon{
    display:  inline;
}
.like-dislike {
    text-align: center;
  }
  
  .like-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .like-icon {
    width: 50px;
    height: 50px;
  }
  