.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.cat-icons {
    width: 4rem;
    height: auto;
}

.carousel {
    width: 90%;
    /* Adjust the width as needed */
    margin: 0 auto;
    /* Center the carousel horizontally */
}

#productPhoto,
#productDetail,
#ownerDetail {
    background-color: #fff;
}

.grid {
    width: 90%;
    gap: 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 11fr;
}

#ownerDetail {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid div img {
    width: 100%;
    max-height: 30rem;
    border-radius: 2rem;
    object-fit: contain;
}

.grid div {
    background-color: #323232 !important;
    border-radius: 2rem;
}

#productPhoto {
    display: flex;
    align-items: center;
}

#productPhoto button {
    height: 100%;
    width: 3rem;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: transparent;
    border: none;
}
#productPhoto button:focus {
    outline: none;
}

#productDetail {
    padding: 1rem;
    text-align: justify;
}

#ownerDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#ownerDetail img {
    width: 80%;
}

#textInfo {
    text-align: center;
}


.addToCart {
    margin-right: 2rem;
    background-color: rgb(226, 193, 5);
    width: 20rem;
    height: 4rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: ease-in-out 0.1s;
    font-weight: 600;
    border: none;
}

.addToCart:hover {
    background-color: rgb(248, 217, 41);
}

.wishlist {
    margin-right: 2rem;
    background-color: rgb(5, 119, 226);
    color: white;
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: ease-in-out 0.1s;
    font-weight: 600;
    border: none;
}

.wishlist:hover {
    background-color: rgb(45, 146, 241);
}

.remove {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    height: fit-content;
    width: 10%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #c00000;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #323232;
    padding: 1rem;
    border-radius: 2rem;
}

.cartItem h1 {

    margin-right: 2rem;
}

.cartItem p {
    font-size: 1.5rem;
    width: 16rem;
}

.cartItem img {
    border-radius: 1rem;
}

.totalAmount {
    width: 90%;
    background-color: #323232;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Adding responsiveness    */
@media only screen and (max-width: 768px) {
    .cat-icons {
        width: 3rem;
        height: auto;
    }

    .grid {
        grid-template-rows: 1fr 0.7fr 0.9fr;
        grid-template-columns: 1fr;
    }

    #productPhoto img {
        width: 75%;
        height: max-content;
    }

    #productPhoto {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #productDetail {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .grid h1 {
        font-size: 2rem;
    }

    .grid h2 {
        font-size: 1rem;
    }

    .grid h3 {
        font-size: 1rem;
    }

    #ownerDetail img {
        width: 40%;
    }

    /* #textInfo {
        width: 60%;
    } */

    #ownerDetail {
        flex-direction: row;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
        padding: 1rem;
        gap: 0;
    }
    .cartItem {
        flex-direction: column;
        gap: 1rem;
        border-radius: 1rem;
    }

    .remove{
        width: 50%;
    }
    .cartItem p {
        width: 100%;
        font-size: 2rem;
        width: 16rem;
    }
}